Package: linux-image-4.14.190-microsoft-epsilon
Source: linux-android-microsoft-epsilon
Version: 0.0.0+git20241222032034.4da3a92.droidian
Architecture: arm64
Maintainer: Droidian porters <info@droidian.org>
Installed-Size: 24496
Section: kernel
Priority: optional
Description: Linux kernel for Microsoft Surface Duo
 This package contains the Linux kernel for the Microsoft Surface Duo device.
 .
 Note: This package only ships the kernel image and modules, you should probably
 look at the linux-bootimage-4.14.190-microsoft-epsilon package for a bootimage suitable
 for Android boot loaders.
