Package: linux-bootimage-4.14.190-microsoft-epsilon
Source: linux-android-microsoft-epsilon
Version: 0.0.0+git20241222032034.4da3a92.droidian
Architecture: arm64
Maintainer: Droidian porters <info@droidian.org>
Installed-Size: 66801
Pre-Depends: flash-bootimage (>= 4)
Depends: linux-image-4.14.190-microsoft-epsilon (= 0.0.0+git20241222032034.4da3a92.droidian)
Section: kernel
Priority: optional
Description: Linux kernel for Microsoft Surface Duo - Android Boot Image
 This package contains the Linux kernel for the Microsoft Surface Duo device.
 .
 Note: This package ships an Android Boot Image bundled with Halium's
 initramfs.
